.vscode/settings.json
taco-cloud/.mvn/wrapper/maven-wrapper.properties
taco-cloud/.vscode/launch.json
taco-cloud/.vscode/settings.json
taco-cloud/mvnw.cmd
taco-cloud/mvnw
taco-cloud/HELP.md
.vscode/launch.json
taco-cloud/target/classes/application.yaml
taco-cloud/target/classes/META-INF/additional-spring-configuration-metadata.json
taco-cloud/target/classes/tacos/DevelopmentConfig.class
taco-cloud/target/classes/tacos/DevelopmentConfig$1.class
taco-cloud/target/classes/tacos/TacoCloudApplication.class
taco-cloud/target/classes/tacos/TacoCloudApplication$1.class
